[2016-09-08 05:24] samreid opened #1 "Create initial draft"
Parent issue is https://github.com/phetsims/chipper/issues/479

[2016-09-08 20:07] samreid commented on #1
For example, look at FunctionBuilderQueryParameters for a situation where the multi-schema would be appropriate.  Keep the QueryStringMachine.get('',{}) for single string cases.

[2016-09-08 20:25] samreid commented on #1
When trying to exercise QueryStringMachine for FunctionBuilder, I noticed that the string keys will not match.  For instance FBQueryParameters has:

[code]

But unless we do something about it, QueryStringMachine would have:

[code]

If we changed QueryStringMachine to be:
[code]
then the query parameter must be supplied as ?SLOW=true

My recommendation is to use lower/camel case and enforce match

[2016-09-08 20:35] pixelzoom commented on #1
👍

[2016-09-09 15:33] samreid commented on #1
Initial draft completed.  I'll create next issue for review.

[2016-09-09 15:44] samreid opened #2 "Review initial draft."
In #1 I completed the initial draft of QueryStringMachine.  The public API was reviewed in https://github.com/phetsims/function-builder/issues/101 and Function Builder is using this for its query parameters as a test case.  I also added QueryStringMachine manual and automated tests, see the documentation in README.md.  The next step is to review the QueryStringMachine itself. After that review is

[2016-09-09 15:44] samreid opened #3 "Add issue labels"
@mattpen can you please add issue labels to query-string-machine?

[2016-09-09 15:44] #1 closed

[2016-09-09 16:02] samreid commented on #2
I added some missing docs in the above commit.

[2016-09-09 17:15] pixelzoom commented on #2
Many changes and TODO items in above commits (following an ugly, botched merge).  Let me know if you want to discuss.

[2016-09-10 05:23] samreid commented on #2
In the preceding commits, I addressed this TODO:

```//TODO Can't lint this, repo is missing standard files (Gruntfile, .gitignore, ...)```

[2016-09-10 05:25] samreid commented on #2
@pixelzoom said:

Like assert.js, this repo does not require a Namespace instance.

[2016-09-10 05:30] samreid commented on #2
@pixelzoom said:

I opted for assertions because (a) they match the rest of PhET convention for argument checking (b) they can be stripped and (c) they are 1-line easy to read/write/maintain.

I think you are saying that we would want to prevent the application from launching if the allowed values are [1,2,3] and the user supplied [-1], for instance *whether or not ?ea is specified*.  This seems l

[2016-09-10 05:31] samreid opened #4 "The application should fail to start if query parameter values are invalid (even if assertions are off)."
From #2

@pixelzoom said:

I opted for assertions because (a) they match the rest of PhET convention for argument checking (b) they can be stripped and (c) they are 1-line easy to read/write/maintain.

I think you are saying that we would want to prevent the application from launching if the allowed values are [1,2,3] and the user supplied [-1], for instance *whether or not ?ea is specified*.  Thi

[2016-09-10 05:43] samreid commented on #2
@pixelzoom said:

[code]
I was following the MDN examples from https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number in the "Convert numeric strings to numbers" section.

[2016-09-10 05:43] samreid commented on #2
Number('123') returns number

![image](https://cloud.githubusercontent.com/assets/679486/18408232/43a126f4-76e7-11e6-97ec-58048777e85f.png)

[2016-09-10 06:07] samreid commented on #2
In the preceding commit, I added `allowedValues` support for `array`.  I chose the semantics to be "the allowed value of the entire array" (to match convention with the other types) and not "allowed values for individual elements".  If we have a need for the latter in the future, we could add it by adding `allowedElementValues`.

[2016-09-10 14:08] samreid opened #5 "Array should provide elementSchema"
To simplify things, Array should provide elementSchema.  We will have to change how schemas are validated, but this will be a simpler interface.

[2016-09-10 14:09] samreid opened #6 "Rename schemaElement or schemaEntry to schema"
We could say the big map is a map from key=>schema, instead of a schema being a map of schema=>schemaElement, it will simplify the terminology enormously.

[2016-09-11 02:09] samreid commented on #6
Fixed above, closing.

[2016-09-11 02:09] #6 closed

[2016-09-11 02:17] samreid commented on #4
In the preceding commit, I converted asserts to always error out during parsing.  @pixelzoom would you like to review?

[2016-09-11 02:23] samreid commented on #4
You can test this by running the test from line 32 of test-query-string-machine.html:

[code]

[2016-09-11 02:31] samreid commented on #5
`allowedValues` may make sense for some array elements, though seems like it may have limited use.  `defaultValue` makes no sense for array elements and may make this not possible.

Would `elementSchema` allow us to simplify the implementation, or support arbitrary types (like arrays of arrays of number?)

Here's an example:
[code]

I'm not sure whether to proceed with this or not.

[2016-09-11 02:33] samreid opened #7 "Add support for required query parameters"
In some wrappers, some query parameters are required and the application should fail with a nice warning message if the query parameter is not supplied.  (For instance ?sim in many of the sample wrappers).  We should add support for required query parameters.  Instead of providing `defaultValue`, it could have `required: true` or just omit `defaultValue`, which would imply that support is required

[2016-09-11 22:08] samreid commented on #2
@pixelzoom said:

[code]

My suggestion is for both values to be validated in the call to:
[code]
which is currently done.  Is that insufficient?

[2016-09-11 22:21] samreid commented on #2
I finished addressing the TODOs marked in the file, thanks for suggesting these improvements.  Some of the TODOs were raised for discussion in the preceding comments.  Back to @pixelzoom for discussion.

[2016-09-12 16:19] samreid commented on #5
I added element schemas to array and it worked out nicely, I added a sample test for 2d-array of number and it is working well too.  @pixelzoom can you take a look as part of your review?

[2016-09-12 16:23] samreid commented on #7
Currently a parameter in the schema which has no defaultValue and is not supplied in the query string yields: `Query String Machine Assertion failed: Value cannot be determined.`  It would be better if this said: `Query String Machine Assertion failed: query parameter must be supplied for '+keyName'.`

[2016-09-12 16:30] samreid commented on #7
I decided the API will be simplest if lack of a default value in the schema implies that the value is required.  I improved the error message above and added automated tests for the new behavior.  If a required query parameter is missing, it will throw an error and print a message like this one:

[code]

[2016-09-12 16:31] samreid commented on #7
@pixelzoom can you review this as part of #2 ?

[2016-09-12 18:38] mattpen commented on #3
Standard labels have been applied

[2016-09-12 18:38] #3 closed

[2016-09-12 20:36] samreid opened #8 "Can we check for bogus (unhandled) query parameters?"
@andrewadare and I mistyped ?phet-io.log=lines as ?phetio.log=lines and it took us a few minutes to see our error.  Can our query string support help us with this?  If we have one large query string schema (handling everything), it could check for unused/unmatched query strings.

[2016-09-13 16:52] pixelzoom commented on #4
If this is going to be useful to the end user, then the error message should identify which query parameter contains the error.  You can do this by:

(1) Remove the console output from `queryStringMachineAssert`.
(2) Catch the error in `getForString` and do the console output there, e.g.:

[code]

[2016-09-13 22:21] pixelzoom commented on #5
Looking at the test harness (test-query-string-machine.html), it looks like we have different ideas about the semantics of `allowedValues` for type 'array'.   I was thinking that this would enumerate the values that were allowed to be in the array, not the possible arrays of values.

For example, with this schema for parameter `primes`:

[code]

This would be valid: `?primes=1,5,11`

[2016-09-13 22:23] samreid commented on #5
To specify the allowed values for elements in an array, use elementSchema.allowedValues.  Something like:

[code]

[2016-09-13 22:25] pixelzoom commented on #2
Changes look good. Fixed some jsdoc in above commits.

Re validation of `defaultValue` as proposed in https://github.com/phetsims/query-string-machine/issues/2#issuecomment-246208018.  Yes, that sounds good.  But for testing purposes, `defaultValue` will only get checked when a value is omitted, so it's possible that there might be a problem with the default value that goes unnoticed.  Should the

[2016-09-13 22:26] pixelzoom commented on #5
Ah, got it.  Closing.

[2016-09-13 22:26] #5 closed

[2016-09-13 22:33] pixelzoom commented on #7
@samreid said

With one exception: schemas of type 'flag'.  And that appears to work.  But shouldn't providing `defaultValue` for type 'flag' technically be treated as an error?

[2016-09-13 22:35] samreid commented on #8
QueryStringMachine can keep track of all the schema keys it has seen, then after all schemas have been evaluated it could be triggered to see if there are any keys it has not seen.

[2016-09-13 22:56] samreid commented on #7
I decided to allow flag defaults to be overriden. For example, we would like the scenery "webgl" query parameter to have the following values:
[code]

So while the default flag behavior seems good for the majority of cases, it seems there are cases where we will want to override the default.

[2016-09-13 23:02] pixelzoom commented on #7
Got it, thanks for the clarification, and I now see that logic in `parseElement` (line 208).

But just to confirm... Lack of a default value in the schema implies that the value is required, *except for type 'flag'*.  Correct?

[2016-09-13 23:02] samreid commented on #7
It appears the behavior is not as I prescribed in the previous comment.  Assigned to me for investigation.

[2016-09-13 23:02] samreid commented on #7
Yes, that's true.

[2016-09-13 23:03] pixelzoom commented on #7
👍 Closing.

[2016-09-13 23:03] samreid commented on #7
Reassigned to me to investigate https://github.com/phetsims/query-string-machine/issues/7#issuecomment-246853497

[2016-09-19 12:38] samreid commented on #2
Originally I thought that should occur during a testing or assertion phase, not every time the production sim is run.  But since it should be extremely fast, we can have it run every time. I'l create a new issue for that.

[2016-09-19 12:39] samreid opened #9 "Validate entire schema when get or getAll is called"
From #2

[2016-09-19 14:43] pixelzoom commented on #2
Assertions sounds most appropriate, since the schema isn't something the user can change. But if it's easier to validate via user-Error checking, go for it.

[2016-09-19 15:55] samreid commented on #9
In https://github.com/phetsims/query-string-machine/issues/2#issuecomment-248013500 @pixelzoom said:

[2016-09-19 15:55] samreid commented on #2
Thanks, I moved your comment to the related issue, closing.

[2016-09-19 15:55] #2 closed

[2016-09-19 16:02] samreid opened #10 "Behavior is not as prescribed"
In https://github.com/phetsims/query-string-machine/issues/7#issuecomment-246852317 I said:

I decided to allow flag defaults to be overriden. For example, we would like the scenery "webgl" query parameter to have the following values:
[code]

So while the default flag behavior seems good for the majority of cases, it seems there are cases where we will want to override the default.

Then I follow

[2016-09-22 18:48] samreid commented on #8
@jonathanolson pointed out that 3rd parties may need to augment query string, so this testing should be during development only (say in an assertion), and published versions should be able to accept any query strings.

[2016-09-24 03:07] samreid commented on #4
In the preceding commit, QSM reports the key in the message like so:
[code]
I removed "processing" so the error is less likely to go off the page in chrome dev tools.  I also passed the key to queryStringMachineAssert instead of throwing and catching, since it was more straightforward.

@pixelzoom would you like to review?

[2016-09-24 19:13] samreid commented on #9
Also the motivation for this was:

[2016-09-24 20:59] samreid commented on #9
In the preceding commits, I'm checking that the default value is valid, that the allowedValues are valid and that the default appears in the allowed values (if both provided.)  Error messages are like this:

@pixelzoom want to take a look?

[2016-09-24 21:25] samreid commented on #10
Putting

[code]
does have the desired behavior as described above, closing.

[2016-09-24 21:25] #10 closed

[2016-09-26 18:13] pixelzoom commented on #9
Problems:

(1) None of the error messages identify which key the error pertains to.  E.g. running master of function-builder with `?ea`, I get this rather unhelpful message:

(2) I cannot find the source of the above error. The 2 schema entries in `FBQueryParameter` that use `defaultValue` look correct.  So perhaps `validateSchema` is buggy?

(3) I only get the above error when assertions are enab

[2016-09-26 18:16] pixelzoom commented on #9
Also wondering about why `window.assert && assert()` is being used, seem atypical and inconsistent.  Should be either `window.assert && window.assert(...)` or `assert && assert(...)`. E.g.

[code]

[2016-09-26 18:17] pixelzoom commented on #9
Perhaps the 2 usages of `window.assert && assert` should be `queryStringMachineAssert`?

[2016-09-26 18:19] pixelzoom commented on #9
I said:

No, because this is schema validation, which is not something the user can change. So validating when assertions are enabled is appropriate.

[2016-09-26 19:19] pixelzoom commented on #9
I added key name to all error messages in the above commit.  Looks like `validateSchema` must be buggy, because for this entry in FBQueryParameters:

```dev: { type: 'flag' },```

I'm seeing this error message:

```Error for query parameter "dev": defaultValue must be a member of allowedValues```

[2016-09-26 19:25] pixelzoom commented on #9
Troubles resolved in above commits.

I still see this TODO item in `validateSchema`, which should be completed before closing this issue:

```// TODO: validate arrays```

Back to @samreid.

[2016-09-26 19:28] samreid commented on #9
The code change in validateSchema looks good, I'll move validate arrays to a separate issue.

[2016-09-26 19:28] #9 closed

[2016-09-26 19:30] samreid opened #11 "// TODO: validate arrays"
From #9 we would like to make sure that arrays can be validated (or documented as un-validateable).  However, since QSM supports arrays of arrays of arrays, we may need a recursive implementation for this.  That is, `===` won't work for arrays at any level.

[2016-09-26 19:38] pixelzoom commented on #4
Tried a few bogus query parameter values with function-builder and got expected error messages. Closing.

[2016-09-26 19:38] #4 closed

[2016-09-27 15:36] samreid opened #12 "Why is window.assert used?"
From https://github.com/phetsims/query-string-machine/issues/9#issuecomment-249651783

@pixelzoom said:

Also wondering about why `window.assert && assert()` is being used, seem atypical and inconsistent.  Should be either `window.assert && window.assert(...)` or `assert && assert(...)`. E.g.

[code]

[2016-09-27 15:40] samreid commented on #12
Query String Machine has been designed as a zero-dependency module for ease of use in any project.  From the README https://github.com/phetsims/query-string-machine

`window.assert` and `assert` both check for the existence of a global named assert.  However, the latter errors out if the global is not found.

I'm curious to know your thoughts and recommendations @pixelzoom.

[2016-09-28 05:37] samreid commented on #11
@andrewadare: In discussing https://github.com/phetsims/special-ops/issues/40 with @ariel-phet, he suggested it would be good for you to look into this, partly so that we can share knowledge about Query String Machine and also so it can benefit from another pair of eyes.  We already have validation for primitive types for both `allowedValues` and `validate`, please see the manual and automated tes

[2016-09-28 16:00] pixelzoom commented on #12
Recommended to add this at the top of QueryStringMachine:

[code]

[2016-09-28 16:01] pixelzoom commented on #12
Recommended to add this at the top of QueryStringMachine:

[code]

... then use PhET's typical `assert && assert( ... )` pattern.

[2016-09-28 18:45] pixelzoom opened #13 "change validation option names to match Property"
See https://github.com/phetsims/axon/issues/101#issuecomment-250249043

Change is:

allowedValues -> validValues
validate -> isValidValue

[2016-09-28 18:49] pixelzoom commented on #13
Changed and tested in function-builder.  But I have no idea how to go about testing in phet-io (which seems to be a chronic problem whenever I need to touch something in PhET-iO).  @samreid?

[2016-09-29 02:28] samreid commented on #12
Nice idea, committed above, anything else to do here?

[2016-09-29 03:23] samreid commented on #13
The only occurrence of `validValues` or `isValidValue` in phet-io is

[code]

I'll try launching that wrapper with a different solution.  I launched:
http://localhost/phet-io/wrappers/lab-book/lab-book.html?sim=beers-law-lab&solution=hello
and saw:
[code]

So phet-io tests out OK.

I'll create a phet-io issue regarding this.

[2016-09-29 03:23] #13 closed

[2016-09-29 16:00] pixelzoom commented on #12
👍 Closing.

[2016-09-29 16:00] #12 closed

[2016-09-29 16:18] pixelzoom commented on #13
@samreid If there's nothing else to do here, feel free to close.

[2016-10-11 21:37] samreid opened #14 "Support UMD"
@zepumph and I would like to support UMD for using QueryStringMachine in node

[2016-10-11 21:37] zepumph commented on #14
var scope;

// if the module has no dependencies, the above pattern can be simplified to
(function (root, factory) {
  if (typeof define === 'function' && define.amd) {
    // AMD. Register as an anonymous module.
    define([], factory);
  } else if (typeof module === 'object' && module.exports) {
    // Node. Does not work with strict CommonJS, but
    // only CommonJS-like environments that sup

[2016-10-13 18:23] andrewadare commented on #11
@samreid Do you have any objections to moving the js code inside the `<script>` tags into a js file called test/testQueryStringMachine.js, and calling the UMD module as an IIFE?

In my opinion, this would improve maintainability as new tests are added.

[2016-10-13 18:23] andrewadare commented on #11
I've done this by the way (but not committed).

[2016-10-13 18:28] samreid commented on #11
Can you explain how this part would work?

[2016-10-13 18:32] andrewadare commented on #11
I simply appended () to the end to call the function:

[code]

then loaded the script as usual:

[code]

[2016-10-13 18:36] samreid commented on #11
OK with me to move test code to a separate js file, in an IIFE.

[2016-10-13 18:40] andrewadare commented on #11
@samreid refactor complete, now ready to proceed with array validation code.

[2016-10-13 18:41] samreid commented on #11
I reformatted with IDEA, please pull before you proceed.

[2016-10-13 20:05] samreid commented on #14
Working well, closing.

[2016-10-13 20:05] #14 closed

[2016-10-17 15:31] andrewadare commented on #11
@samreid I'm trying to understand how this works:

I see that there is a `validate()` function for `name` in one of the main schema objects used for the automated tests:

[code]
schemaMap.name.validate() is never used, though. If I visit the test page with a query parameter that violates the test (say, test-query-string-machine.html?name=zoompixel), no assertion is thrown.

Should there be a check

[2016-10-18 01:53] pixelzoom commented on #11
@andrewadare In https://github.com/phetsims/query-string-machine/issues/13, the validation option names were changed from `allowedValues` and `validate` to `validValues` and `isValidValue` respectively.  Looks like I missed the unit tests.

So I fixed the unit tests above, and now they're failing here:

[code]

I don't understand a couple of things here, perhaps @samreid can clarify:

(1) What is

[2016-10-18 02:51] andrewadare commented on #11
@pixelzoom this makes so much more sense now! I added that test above, while trying to figure things out. It was meant to trigger an assertion failure (and never did). Now that I understand what's going on, I'll update it to something meaningful.

@samreid and I were discussing qunit today, and he mentioned that it seemed like overkill at this stage. However, I think everyone would support using i

[2016-10-24 16:59] samreid opened #15 "Replace all phet.chipper.getQueryParameter usages with QueryStringMachine"
For instance:

test-sims.js has:

[code]

this would be replaced with:

[code]

[2016-10-24 17:05] samreid commented on #15
A significant problem is for flags like `?useFeature=false` where `"false"` is being interpreted as truthy.

@zepumph suggested raising this for developer meeting, we may proceed by having each developer take some of the work.

[2016-10-24 17:06] samreid commented on #15
@andrewadare suggested each developer should fix their own cases, because they will be better able to test the changes (because they are more familiar with their own codebases).

[2016-10-26 23:49] pixelzoom commented on #15
Done for all of my sims.

Two observations:

(1) It would be nice to have a way to get state of the `dev` query parameter without having to repeat `dev: { type: 'flag' }`.  Perhaps we need JoistQueryParameters?

(2) To enable logging, some sims check `phet.chipper.getQueryParameter( 'log' )` in their namespace file.  See for example functionBuilder.js.  FBQueryParameters can't be loaded here becau

[2016-10-27 01:32] samreid commented on #15
I'm confused about the logic here.  It seems like the true problem is that functionBuilder.js must be loaded before FBQueryParameters is loaded, so that namespace be used in FBQueryParameters.  Hence it would introduce a cyclic dependency.

[2016-10-27 16:03] pixelzoom commented on #15
Right.

[2016-10-27 16:11] jonathanolson commented on #15
It also looks like initialize-globals now depends on QueryStringMachine? I'm fine taking care of usages I'm familiar with.

[2016-10-27 16:34] pixelzoom commented on #15
To address this issue:

I moved the logging flag from the namespace file (e.g. functionBuilder.js):

[code]

... to the query parameters file (e.g. FBQueryParameters):

[code]

Usages change from this:

[code]

... to this:

[code]

The upside is that all query parameters are now documented and processed in one place. The downside is that the color-coding of log messages is lost.

[2016-10-27 16:53] samreid commented on #15
QSM is now included in every simulation, but I don't see any references to it in initialize-globals.js, am I missing something?

[2016-10-27 17:10] pixelzoom commented on #15
@samreid You may want to review https://github.com/phetsims/beers-law-lab/commit/087f9e1ba4e169aa946ecc0a72287d806fe4a991, since Beers Law Lab has some query parameters that are used by PhET-iO.

[2016-10-27 17:10] pixelzoom commented on #15
@samreid You may want to review phetsims/beers-law-lab@087f9e1, since Beers Law Lab has some query parameters that are used by PhET-iO.  I did test all query parameters and they appeared to behave as expected.

[2016-10-27 17:14] pixelzoom commented on #15
The following common-code repositories use `getQueryParameter`. We should decide which ones to convert to `QueryStringParameter`, and put developer names next to them.

- [ ] brand
- [ ] chipper
- [ ] joist
- [ ] phet-io
- [ ] phetcommon
- [ ] scenery-phet
- [ ] sun
- [ ] tandem

[2016-10-27 17:22] pixelzoom commented on #15
I also notice:

(4) For `type: 'number'` there are some common validations (range, integer) that the `validValues` option doesn't support well or at all.  So the client end up needing to do validation outside of `QueryStringMachine`, something like this:

[code]

I think it would be useful to add something to `QueryStringMachine` to support this.

[2016-10-27 17:22] jonathanolson commented on #15
It includes getQueryParameter calls for brand and locale, which would be converted to QSM, correct?

[2016-10-27 17:25] samreid commented on #15
Can you use `isValidValue` like this:

https://github.com/phetsims/query-string-machine/blob/438cfac1d9a37981ae6d9166a657b44915e1f018/js/test/testQueryStringMachine.js#L19-L25

[2016-10-27 17:25] pixelzoom commented on #15
Ah, thanks, missed that.

[2016-10-27 17:28] samreid commented on #15
Yes, initialize-globals should be rewritten to use QueryStringMachine.

[2016-10-27 17:37] pixelzoom opened #16 "QueryStringMachine 'isValidValue' should return true or false"
Noted while working on https://github.com/phetsims/query-string-machine/issues/15.

There's currently an assumption that 'isValidValue' does its own error handling. E.g.  in test-query-string-machine.js:

[code]

It would be preferable to return a boolean, like this:

[code]

... then provide uniform handling for this in QueryStringMachine.

This line in `QueryStringMachine.validateValue` would ne

[2016-10-27 17:37] pixelzoom commented on #15
There's a problem with `isValueValue`, tracking in #16.

[2016-10-27 17:43] pixelzoom commented on #16
Also note that we changed the name of `isValidValue` to be consistent with the similar option in `Property`, where it returns true or false.

As an example... In BLLQueryParameters, this is how `isValidValue` should be used. BLLQueryParameters should not be responsible for how an invalid value is handled, only for checking whether the value is valid.

[code]

[2016-10-27 17:46] samreid commented on #16
I agree, we should change QueryStringMachine.isValidValue to return boolean, not throw assertion errors.

[2016-10-27 17:47] pixelzoom commented on #16
To address this, change line 235 of QueryStringMachine from:

[code]

to:

[code]

[2016-10-27 17:53] pixelzoom commented on #16
Changed as described in https://github.com/phetsims/query-string-machine/issues/16#issuecomment-256719053.  @samreid please verify. You can use test-query-string-machine.html, BLL, or Plinko Probability.

[2016-10-27 17:54] pixelzoom commented on #11
@andrewadare said:

I hit this bogus assertion again while working on #16, and it makes this test harness unusable. So I changed your test to return true for now, and added a TODO for you in the code.

[2016-10-27 19:19] jessegreenberg commented on #15
@andrewadare suggested that we add a query parameter to find deprecated uses of ```getQueryParameter```.

[2016-10-27 19:19] jessegreenberg commented on #15
@pixelzoom volunteered to tackle joist.

[2016-10-27 19:21] pixelzoom commented on #15
Other 10/27/16 notes:
• Add `@deprecated` annotation to getQueryParameter
• No new code should use getQueryParameter
• Convert to QueryStringMachine as we go

[2016-10-27 21:52] samreid commented on #16
Code changes look good, testing with http://localhost/query-string-machine/test-query-string-machine.html?name=Zarry looks good too, thanks!  Closing.

[2016-10-27 21:52] #16 closed

[2016-10-28 16:44] samreid opened #17 "Make it possible to enter empty arrays"
From https://github.com/phetsims/make-a-ten/issues/231

Can we support empty arrays like this:

[code]

[2016-10-31 18:18] pixelzoom commented on #15
Query parameters for all "post-load" common code will be consolidated in chipper.QueryParameters. See phetsims/chipper#516.

[2016-10-31 21:12] pixelzoom commented on #15
I created a separate issue for each converting each sim to QueryStringMachine, to be addressed by the primary sim developer.

[2016-10-31 21:57] pixelzoom commented on #15
I converted all sims that had a *QueryParameters.js file, but didn't do the ones that don't follow PhET convention for query parameters.

[2016-11-07 16:43] pixelzoom commented on #15
Closing this issue. There are separate issues for each sim (see above), and for common code (https://github.com/phetsims/chipper/issues/516).

[2016-11-07 16:43] #15 closed

[2016-11-15 18:18] pixelzoom opened #18 "missing error handling for type 'array'"
As an example, query parameter `screens` is defined like this in initialize-globals.js:

[code]

If I do `?screens` with no arg, then QueryStringMachine fails at line 200, with "Cannot read property 'split' of null":

[code]

Looks like we need to add this assertion before line 199:

[code]

[2016-11-15 18:23] pixelzoom commented on #18
Fixed, @samreid please review.

[2016-11-16 19:23] samreid commented on #18
This may be at odds with #17

[2016-11-16 21:53] pixelzoom commented on #17
We are currently requiring all non-flag types to have an explicit value. What should arrays be different, what is the use case for an empty array?

[2016-11-17 02:27] samreid commented on #17
The first use case was identified 20 days ago in this issue comment: https://github.com/phetsims/make-a-ten/issues/231#issuecomment-256841873

[2016-11-17 15:30] pixelzoom commented on #17
That case can be addressed by:

[code]

[2016-11-17 17:11] samreid commented on #17
Any empty array is an explicit value, even if it is specified using an odd syntax ?myArray=&otherValue.  It looks odd because we don't require brackets around the arrays.  If we used ?myArray=[]&otherValue it might have been clearer, but I like ?screens=1,2 too much to change it to ?screens=[1,2].  It seems reasonable to me that QSM should be able to support empty arrays.  I'll look into this issu

[2016-11-17 23:41] andrewadare commented on #11
I added the test above. QSM runs the test, and when it fails, the test harness catches the error. @samreid or @pixelzoom, can one of you review this and see if it is being done correctly?

It was mentioned to support recursion to arbitrary depth (e.g. for multidimensional arrays, or arrays of arrays). I did not try this, but would like to check what was done before going further.

[2016-11-18 05:03] samreid commented on #11
I changed the defaultValue to `defaultValue: [ 1, 6 ],` and ran the test.  Then I received this error:

`missing query parameter should be caught`

That error doesn't sound quite right.  Should it read: "Test for error handling failed because no error was found"?

[2016-11-18 20:46] andrewadare commented on #11
@samreid Thanks for catching that, it was a copy-paste error. I changed the default value to satisfy the test, and the input value to trigger a failure. I also fixed the message and added some clarifying comments to the test, since the logic is "backwards" at first glance (it's not typical to assert an error!)

[2016-11-18 20:48] andrewadare commented on #11
Also, I want to add the test page to @jonathanolson's new phetmarks page for easy reference. Any objections?

[2016-11-19 03:51] samreid commented on #11
Please proceed.

[2016-11-19 04:45] samreid commented on #17
QSM now supports empty arrays, such as ?hello&screens=&webgl=false

@jonathanolson can you please test this in your context?

[2016-11-19 04:51] samreid commented on #18
After adding support for 0-length arrays in #17, it seemed we should default the screens query parameter to [] instead of null.  I tested this and it seems to be working well.  Committing.

[2016-11-19 04:54] samreid commented on #18
Committed above and tested with ?screens, ?screens=, ?screens=1, ?screens=2, ?screens=1,2 and all behaved as expected.  My only qualm is that ?screens is parsed identically to ?screens=.  I'd rather require the = sign in order to specify an empty array, but it would require changes to the QSM logic than I'd rather not change, so the current behavior is acceptable to me.

@pixelzoom would you like

[2016-11-19 05:30] samreid commented on #8
Based on @jonathanolson's remarks, this feature would have to be off by default.  So it would have to be enabled with some sort of ?validateQueryString trigger.  However, I'm imagining that nobody would ever use that during development unless it was on by default, and I fail to see the value of having it on by default if we are moving to a paradigm in phetmarks where the query parameters are suppl

[2016-11-19 07:20] jonathanolson commented on #17
Working great, thanks!

[2016-11-19 07:20] #17 closed

[2016-11-21 19:10] pixelzoom commented on #18
I'm unclear on what is "expected" with `?screens` and `?screens=`.  When use either of those (e.g. with graphing-lines), it shows me all screens, as if the query parameter is not present.  Please clarify.

[2016-11-22 03:35] samreid commented on #18
I changed the joist semantics so that an empty array means to show all screens.

[2016-11-22 03:41] pixelzoom commented on #18
I agree that in general an empty array should be supported. I don't agree that an empty array should be valid for `screens`, or that joist should interpret and empty array as "all screens".

[2016-11-22 03:42] samreid commented on #18
Is `null` better than `[]` for denoting to show all screens?  If so, why?

[2016-11-22 03:43] pixelzoom commented on #18
If you want to show all screen, then you have 2 very valid, logical choices: (1) don't use the `screens` query parameter, or (2) use the `screens` query parameter with an array that includes all screen indices.

[2016-11-22 03:44] samreid commented on #18
I see, Joist can check if `QueryStringMachine.containsKey('screens')` and then use that.

[2016-11-22 03:44] pixelzoom commented on #18
Yes.

[2016-11-22 16:02] samreid commented on #18
Added test above, now ?screens and ?screens= are failing, and ?screens=1,2 and ?screen=3 are working, and lint is passing.  @pixelzoom want to review?

[2016-11-22 18:45] pixelzoom commented on #18
Client code fix looks good.  But I think we still have some work to do on QueryStringMachine.

In initialize-globals.js, `screens` schema is currently:

[code]

The lack of support for `defaultValue: null` is presumably why you need to specify `defaultValue: []`.  And that's kind of like having to specify `defaultValue: ''` for 'string' type.  So, like 'string' type, I think we should support `nul

[2016-11-22 20:04] pixelzoom opened #19 "misplaced schema validation?"
These checks appear in QueryStringMachine `parseElement`:

[code]

And this check appears in `stringToArray`:
[code]

These are all related to schema validation. Shouldn't they be located in `validateSchema`?

[2016-11-22 22:23] samreid commented on #18
QSM does support null as a defaultValue for type array, I can switch back to it.

[2016-11-22 22:29] pixelzoom commented on #18
I tried switching the schema for `screens` back to `defaultValue: null`, but then I see:

[code]

[2016-11-22 22:35] samreid commented on #18
Testing...

[2016-11-22 22:37] samreid commented on #18
I changed screens to read:

[code]

Then put this line at 68 of Sim.js
[code]

Then I ran the sim, and it printed out:
`null`.

![image](https://cloud.githubusercontent.com/assets/679486/20544899/8763571a-b0c9-11e6-8fbf-87b673787a3c.png)

How are you arriving at your result?

[2016-11-22 22:57] pixelzoom commented on #18
Confirmed. Browser must've been caching initialize-globals.js, perhaps because it's a preload.

[2016-11-22 22:57] samreid commented on #18
My best way to prevent browser cache is to run with dev tools open, and this setting selected:

![image](https://cloud.githubusercontent.com/assets/679486/20545434/6c289fde-b0cc-11e6-8e5f-6a95991c0728.png)

[2016-11-22 23:07] pixelzoom commented on #18
Got it. Chrome, dev tools, 'Network' tab, 'Disable cache' check box.

![screenshot_81](https://cloud.githubusercontent.com/assets/3046552/20545703/d03d73e0-b0cd-11e6-9d45-35663408307f.png)

[2016-11-23 04:35] samreid commented on #18
Yes, I confirmed that Network => disable cache is synchronized with Settings => "Disable cache (while DevTools is open)".  Anything else to do here?

[2016-11-23 18:22] pixelzoom commented on #18
We appear to be done. Closing.

[2016-11-23 18:40] pixelzoom commented on #19
Looking more closely at the current state of QueryStringMachine...  There's a lot of conditional logic in `validateSchema` and `parseElement`.   And it's difficult to make a change (e.g. https://github.com/phetsims/chipper/issues/519) to the behavior of one type without affecting others. We could improve the readability and maintainability by breaking things up into type-specific validation and pa

[2016-11-23 18:49] pixelzoom commented on #19
The `queryStringMachineAssert` calls identified in https://github.com/phetsims/query-string-machine/issues/19#issue-191110685 should also probably be plain old `assert`. They are validating the schema, not a value provided by a user.

[2016-11-23 20:46] pixelzoom commented on #18
Reopening.

In https://github.com/phetsims/query-string-machine/issues/18#issuecomment-262386981, @samreid indicated that he changed `defaultValue: null` for `screens`.  But I don't see that committed, I still see `defaultValue: []`.  I'll change it.

[2016-11-23 20:49] pixelzoom commented on #18
Done. @samreid please review.

[2016-11-23 23:18] pixelzoom opened #20 "rewrite QueryStringMachine"
This issue started its life as https://github.com/phetsims/query-string-machine/issues/19, but grew.

I'm proposing to rewrite QueryStringMachine, or at least do a major cleanup.

In https://github.com/phetsims/query-string-machine/issues/19#issuecomment-262598021, I noted:

If we were to split things up as described above, it would be relative easy to modify a type without affecting other types,

[2016-11-23 23:18] pixelzoom commented on #19
Closed, move to https://github.com/phetsims/query-string-machine/issues/20.

[2016-11-23 23:18] #19 closed

[2016-11-23 23:22] pixelzoom commented on #20
I pushed QueryStringMachine2 to demonstrate the approach that I had in mind.  It's working in sims, but is still failing a couple of automated tests.  @samreid let's discuss after the holiday.

[2016-11-23 23:24] pixelzoom commented on #20
Most of the TODO items in QueryStringMachine2 identify problems that are also present in QueryStringMachine.

[2016-11-24 01:47] samreid commented on #20
Some thoughts:

(1) We should add a "custom" type, like so:

[code]

Then its error checking will fit into the rest of the pattern.

(2) We should add validate and parse methods in the type descriptors, it would be something like this:

[code]
This will help us organize the types.

[2016-11-24 17:22] samreid commented on #18
Looks good, thanks!  Closing.

[2016-11-24 17:22] #18 closed

[2016-11-24 17:26] samreid opened #21 "flag should error when "defaultValue" is provided."
From https://github.com/phetsims/chipper/issues/519.  We decided that type:flag should not permit defaultValue--it is too confusing and type:boolean should be used for those cases.

[2016-11-25 16:21] pixelzoom commented on #20
Both excellent suggestions. Me likey.

[2016-11-28 17:10] pixelzoom commented on #20
Rather than put the implantation of the functions in the `TYPES` data structure, how about just the function name?  E.g.:

[code]

[2016-11-28 17:45] pixelzoom commented on #20
I implemented @samreid's suggestions in QueryStringMachine2. Not rigorously tested.

[2016-11-28 21:10] samreid opened #22 "getForString should start with ? or be blank"
During https://github.com/phetsims/phet-io/issues/694 @zepumph and I discovered that QSM.getForString must start with ? or be blank, to match the convention for `window.location.search`, so we decided to add an assertion to catch that problem.

[2016-11-28 21:11] samreid commented on #22
We added the assert in my working copy, tested by launching FAMB in requirejs and it seems ok.  We'll commit shortly.

[2016-11-28 21:12] samreid commented on #22
Committed, and also tested lint.  All seems ok, please reopen if there are other problems caused by this.

[2016-11-28 21:12] #22 closed

[2016-11-28 21:21] samreid opened #23 "getForString and getAllForString are being used incorrectly"
Discovered by me and @zepumph in https://github.com/phetsims/query-string-machine/issues/22, the existing usages of getForString and getAllForString are passing in a URL instead of the URL.search substring (which should be blank or start with a ?).

Problem sites:
phet-io/stats.js
phet-io/playback.js

The newly added assertion will fail these cases.  But we should also consider making a QSM method

[2016-11-28 21:36] pixelzoom commented on #20
Looks like replacing `parse` with `type: 'custom'` only affects testQueryStringMachine.js.  I don't see any clients using `parse` yet.

[2016-11-28 22:11] pixelzoom commented on #11
@andrewadare I'm deleting your "minefield" test case from testQueryStringMachine.js.  It's been broken since 10/27/16, and it's affecting my ability to properly test #20.

[2016-11-28 22:19] pixelzoom opened #24 "testQueryStringMachine relies on JSON.stringify string tests"
testQueryStringMachine.js has a serious problem.  It's fundamentally based on comparing the results of `JSON.stringify`, which is not guaranteed to return results in any predictable order.

Here's the problematic code:

[code]

Even if `JSON.stringify` did guarantee order, there's another problem with this approach. It requires `expected` and `schema` to have all of their fields listed in the same

[2016-11-28 23:03] pixelzoom commented on #24
I removed the `JSON.stringify` comparison and did a property-by-property comparison of actual and expected results, including a deep comparison of arrays.  This is going to be problematic for arrays of non-integral types, and for type 'custom'.

And there are other problems here.  Verifying that something fails when it's supposed to is cumbersome, and doesn't fit with the "passing" tests.  And whi

[2016-11-28 23:03] pixelzoom commented on #24
@samreid How do you want to proceed with this test harness?

[2016-11-28 23:10] pixelzoom commented on #20
QueryStringMachine2 is passing all tests in testQueryStringMachine.js.  I would suggest replacing QueryStringMachine with QueryStringMachine2, but I have very little faith in the completeness or robustness of testQueryStringMachine.js (based on my deep dive in #24).

[2016-11-29 03:58] samreid commented on #20
Let's go for QueryStringMachine2.  I'll merge it, delete QueryStringMachine2, test what I can and we'll move forward from here.

[2016-11-29 04:01] samreid commented on #20
Merged in the preceding commit, tests are passing.  Main sim development mode like "brand=phet&ea" is working.

[2016-11-29 04:43] samreid commented on #20
I emailed the development list:

Chris and I (but mostly Chris) updated the implementation of QueryStringMachine as part of https://github.com/phetsims/query-string-machine/issues/20.  Basic tests are passing, but please be on the lookout for unexpected behavior.

Best Regards,
Sam

[2016-11-29 04:47] samreid commented on #24
test-query-string-machine now uses QUnit, including `assert.throws` and `assert.deepEquals`, it is much nicer now.

@pixelzoom would you like to take a look?

[2016-11-29 04:48] samreid commented on #20
Aqua tests are passing (I limited my run to faradays-law):

![image](https://cloud.githubusercontent.com/assets/679486/20697183/54153ca8-b5b4-11e6-98ad-45b1518d2c51.png)

Anything else specific to do or test here?  Or just address new problems as they arise?

[2016-11-29 04:52] samreid commented on #20
I'm seeing many TODO's, I'll take a look before giving this back to @pixelzoom.

[2016-11-29 05:23] samreid commented on #20
In the preceding commit, I made defaults optional for all types.  If there is no default, and no value provided in the query string, an error is thrown.

[2016-11-29 05:30] samreid commented on #21
The schema for flag is now:

[code]

If I try to supply a default value for a flag, I am met with:

[code]

[2016-11-29 05:30] #21 closed

[2016-11-29 05:31] pixelzoom commented on #20
Doesn't that effectively make `defaultValue` required? I don't understand the motivation for making it optional.

The preceding commit also makes `elemetSchema` optional for type 'array'.  How do we know the type of the elements? Or are you assuming that elements are of type 'string' if there is no `elementSchema`?

[2016-11-29 05:40] pixelzoom commented on #20
I really think that `defaultValue` should be required for type 'number'.

For the other types, if it's optional then perhaps there should be a fallback default value (as we have now for 'boolean').  E.g.:

boolean: true
string: null
array: null
custom: null

[2016-11-29 05:43] samreid commented on #20
For instance, imagine a webpage that requires a `sessionID` to be passed as a query parameter.  If you launch the page without providing `?sessionID=something`, then the page should error out.

[2016-11-29 05:43] samreid commented on #20
My mistake, I restored it in https://github.com/phetsims/query-string-machine/commit/100a57d8ede24585fe244c9df85d8e6f00c87fe9

[2016-11-29 05:45] samreid commented on #20
**And** provide a helpful error message in the console that the `sessionID` must be provided as a query parameter.

[2016-11-29 05:50] pixelzoom commented on #20
I thought that we discussed "required" query parameter, and decided that they should be handled like this:

[code]

[2016-11-29 06:01] samreid commented on #20
My apologies, my memory of the discussion is fuzzy.

That seems like a great way to provide application-specific support for missing query parameters (such as showing a custom UI alerting the user of the problem).  But for cases where a query parameter is required, it seems convenient for QueryStringMachine to automatically check for it.  For instance, in Recorder.js, there is this code:

[code]

[2016-11-29 06:35] samreid commented on #20
In the above commit I added validation for array elementSchemas, and it showed me another place we are assuming `defaultValues` are provided.  I committed the above commit to make things consistent, not because https://github.com/phetsims/query-string-machine/issues/20#issuecomment-263484209 is a foregone conclusion.  If we decide to make defaults required, then we should undo the change in the pr

[2016-11-30 18:29] pixelzoom commented on #24
👍  Closing.

[2016-11-30 18:29] #24 closed

[2016-12-01 18:24] pixelzoom commented on #20
Discussed with @samreid, summary:

(1) If a query parameter is required, don't specify `defaultValue` and QueryStringMachine will error out if query parameter is not present.
(2) If a query parameter is not required, specify `defaultValue`.
(3) 1 & 2 apply to all types except 'flag'.
(4) We'll need to change the behavior of 'boolean', which current falls back to `true` if `defaultValue` is not spe

[2016-12-01 18:37] pixelzoom commented on #20
(5) Factor out `validateValue` from `parse`, add to TYPES data structure.

[2016-12-01 20:10] pixelzoom commented on #20
1-4 above addressed, unit tests passing, test-server passing.

[2016-12-01 20:28] pixelzoom commented on #20
@samreid FYI, I'm mostly done with 5 above (so we don't duplicate work).

[2016-12-01 21:26] samreid commented on #20
Thanks, please reassign to me if you'd like a review afterwards.

[2016-12-01 22:54] pixelzoom commented on #20
Item 5 above (factor out `validateValue`) resulted in lots of changes, see above commit.  I ran unit tests and did spot-testing of a few sims.

A few things to note:
• validateSchema is now optional, since (for most types) it can be handled in a general way
• I noticed that lodash is now used for deep comparison (`_.isEqual`). Is that compatible with the requirement of making `QueryStringMachine`

[2016-12-02 17:57] mattpen opened #25 "Errors in repositories without lodash dependencies"
When running wrappers in phet-io that rely on QSM, we get an error:

`Uncaught ReferenceError: _ is not defined` @ https://github.com/phetsims/query-string-machine/blob/5b8a2418e8e331c3102c380f7f8b14ee91e61321/js/QueryStringMachine.js#L489

According to @samreid, this could affect other repos too, such as aqua, that are not currently dependent on lodash.

Should we require lodash in repos that use

[2016-12-02 18:01] samreid commented on #25
I decided to add lodash to QSM because our sims already use lodash and we needed to do deep-equals.  I forgot that our wrappers use QSM and do not already use lodash as a convention.  I wonder if I should write my own deep equals, or if we will require all wrappers to use lodash.

[2016-12-02 18:01] samreid commented on #25
I don't think we can do that because of a licensing conflict.

[2016-12-02 18:02] samreid commented on #25
Here is the line from lodash we are using:

[code]

[2016-12-02 18:02] pixelzoom commented on #25
lodash dependency was added by @samreid in https://github.com/phetsims/query-string-machine/commit/2bc3c25a0285e40a2ef9f4ced5f4b4c045f0ccfb.

I noticed this while working on #20, and it seems incompatible with the documented goals of "". So I noted in https://github.com/phetsims/query-string-machine/issues/20#issuecomment-264321089 and added this TODO item for discussion:

```488 found = _.isEqual

[2016-12-02 18:02] zepumph commented on #25
Another thought is that since we give QSM to 3rd party wrapper devs, they will need lodash as well as phetio.js

[2016-12-02 18:03] pixelzoom commented on #25
Rather than depend on lodash, can we write our own equivalent of `_.isEqual` that does deep comparison?

[2016-12-02 19:20] pixelzoom commented on #25
Why do we need explicit support for Date in `deepEquals`? (added in https://github.com/phetsims/query-string-machine/commit/96bd261dd59071b7c9b761f0efe9998b17a87ddd).  A query parameter whose value is  a Date would be type 'custom'.   And I would think that would be handled by the client in `isValidValue`. If not there, then we should discuss how to allow the client to specify the semantics of "eq

[2016-12-02 19:21] pixelzoom commented on #25
Why do we need explicit support for Date in deepEquals? (added in 96bd261). A query parameter whose value is a Date would have schema type 'custom'. And I would think that type validation would be handled by the client in isValidValue. If not there, then we should discuss how to allow the client to specify the semantics of "equals" for custom types.

[2016-12-02 19:34] samreid commented on #25
I'm ok to drop Date support, I suppose @zepumph and I were thinking if we add Date in the future but deepEqual doesn't support it, it could lead to trouble.

All other deep equals tests are passing.  The lodash dependency is removed.  Can we close this issue?

[2016-12-02 19:38] pixelzoom commented on #25
Yep. Let's remove Data from deepEquals, then close.

[2016-12-05 17:13] pixelzoom commented on #25
I removed Date. Closing.

[2016-12-05 17:13] #25 closed

[2016-12-05 17:18] pixelzoom opened #26 "nonstandard directory structure for tests"
axon is typical (similar to dot, kite, scenery):

![screenshot_88](https://cloud.githubusercontent.com/assets/3046552/20894694/b25915ea-bad3-11e6-941f-9e493097744f.png)

query-string-machine has a completely different directory structure:

![screenshot_89](https://cloud.githubusercontent.com/assets/3046552/20894707/c3b437b6-bad3-11e6-9d99-2575c0daa138.png)

• test-query-string-machine.html should

[2016-12-05 17:22] pixelzoom commented on #26
Files moved, unit tests passing.  @samreid please review.

[2016-12-05 17:31] pixelzoom commented on #20
Use of lodash was removed in #25.

[2016-12-05 17:52] pixelzoom commented on #23
While you're fixing things related to these functions...

Their function signatures strike me as odd, specifically the location of the `string` parameters. Compare to their less-specific counterparts (`get` and `getAll`):

[code]

When a function is made more specific by adding a parameter (`string` in this case), that parameter is typically added *after* the other parameters, not inserted before.

[2016-12-05 18:07] pixelzoom commented on #20
Here are the remaining TODO items that need to be discussed:

[code]

[2016-12-08 06:06] samreid commented on #26
Looks good, closing.

[2016-12-08 06:06] #26 closed

[2016-12-08 06:16] samreid commented on #23
The assertions+docs seem sufficient to prevent this need.  I'll pursue @pixelzoom recommendation.

[2016-12-08 06:23] samreid commented on #23
Fixed above, and tests passing.  @pixelzoom would you like to review?

[2016-12-08 06:30] samreid commented on #20
I addressed the 1st TODO.  For the 2nd TODO, my opinion is to leave it unimplemented until we need it (if ever).

[2016-12-08 14:59] pixelzoom commented on #23
Skimmed commits but didn't test drive, looks OK. Closing.

[2016-12-08 14:59] #23 closed

[2016-12-08 15:02] pixelzoom commented on #20
I guess my question about `assert` wasn't clear. `assert` will always be undefined until `QueryStringMachine.getAll` is run in initialize-globals.js, so why are we using `assert` within the implementation of `QueryStringMachine`?

[2016-12-08 17:16] samreid commented on #20
Here is the code:

[code]

I used assert instead of queryStringMachineAssert because this problem indicates an issues with coding, not with supplied user parameters.  But I would be equally happy (happier?) to change this to a thrown Error instead of an assert (because assert introduces a dependency).  Thoughts?

[2016-12-08 17:47] pixelzoom commented on #20
I agree that an assertion (vs an Error) is appropriate here, because it's a programming error.  But regardless of whether the `?ea` query parameter is provided in a sim URL, `assert` is `null` in QueryStringMachine, because assertions are enabled/disabled as the result of processing query parameters with QueryStringMachine.  So any code prefixed by `assert &&` will never be executed, regardless of

[2016-12-08 18:07] samreid commented on #20
I see, thanks for pointing out that ordering.  I'll throw an error instead.

[2016-12-08 18:17] pixelzoom commented on #20
I think that `throw Error` will be fine (versus `queryStringMachineAssert`).

[2016-12-08 18:20] pixelzoom commented on #20
I took care of it (converted assert to Error).

@samreid Anything else to do here?

[2016-12-08 18:24] samreid commented on #20
Looks great, closing.

[2016-12-08 18:24] #20 closed

[2016-12-08 18:56] samreid commented on #11
@pixelzoom says this is no longer relevant, closing.

[2016-12-08 18:56] #11 closed

[2017-02-21 17:30] pixelzoom opened #27 "add query-string-machine dependency to documentation"
When this repository was created, it became a new dependency for sims.  And a new dependency requires updating the README file for all published sims, and the "Getting Started" section of the PhET Development Overiew. That was not done. And as reported in https://groups.google.com/forum/#!topic/developing-interactive-simulations-in-html5/8oirI03vMrs, this is causing problems for users.

Assigned t

[2017-02-21 17:38] pixelzoom commented on #27
When this is fixed, please notify the user at https://groups.google.com/forum/#!topic/developing-interactive-simulations-in-html5/8oirI03vMrs.

[2017-02-21 17:39] samreid commented on #27
I fixed this on the google doc and replied to the user, but unfortunately it looks like my reply only went to the user and not the entire group.  I'll take a look and try to remedy this.

[2017-02-21 17:46] pixelzoom commented on #27
If that means the PhET Development Overview... It looks like you updated "Getting Started (on Windows)", but missed "Getting Started (on OS X)".

[2017-02-21 18:15] samreid commented on #27
I updated the OS X instructions too, and sent a message to the google group.  What is the best way to update all of the READMEs?

[2017-02-21 18:22] pixelzoom commented on #27
You need to run `grunt published-README` for all sims that have been published. I don't know of any "batch" support for this.

[2017-02-21 18:24] samreid commented on #27
OK I'll make a temporary file for chipper/data that lists published sims.  I think I'll search for READMEs that already have "Clone the simulation and its dependencies:" as an indicator.

[2017-02-21 18:25] samreid commented on #27
For reference, this grep command seems to work:

`grep -nrw '.' -e "(1) Clone the simulation and its dependencies:" --include \*.md`

[2017-02-21 18:26] pixelzoom commented on #27
You could do a local edit of `active-runnables` to include only published sims.  Then run `grunt-all.sh published-README`.

[2017-02-21 18:34] samreid commented on #27
Fixed above, @pixelzoom would you like to review?

[2017-02-21 20:52] pixelzoom commented on #27
Spot checked a few README.md files, looked at PhET Development Overview, looks good. Closing.

[2017-02-21 20:52] #27 closed

[2017-08-30 18:24] pixelzoom opened #28 "generalize 'log' query parameter?"
See code snippet below from equality-explorer. This is the latest iteration of something I'm been doing in most of my sim-specific *QueryParameters.js files. I'm wondering if it's worth generalizing.

In a nutshell... When `?log` is provided, it adds a `log` function to the sim's namespace, then prints the value of all sim-specific query parameters at startup.   If generalized, it might be more ap

[2017-08-30 18:25] pixelzoom commented on #28
I recall that we previously discussed the generalization of logging, but can't find the specific issue.

[2017-08-31 17:25] jonathanolson commented on #28
Scenery has some logging functionality in scenery.js, and it could use generalization (there are some other places besides Scenery where people are logging things in a similar way).

[2017-09-05 16:51] pixelzoom commented on #28
All devs: If you have a logging pattern that you're using, please add an example (or pointer to an example) to this issue.

[2017-09-05 17:01] jonathanolson commented on #28
[code]
also with push/pops:
[code]
and each log name can have an additional associated style.

Results in output similar to:
![scenery-logging](https://user-images.githubusercontent.com/480878/30072962-483d10f2-9229-11e7-8115-081a5c4876c5.PNG)
which is quite helpful to debug complicated Scenery things. Looks like I have 713 instances of ```sceneryLog &&``` in Scenery.

[2017-09-07 16:33] pixelzoom commented on #28
9/7/17 dev meeting note:
Deferred.
@jbphet (and any other devs) please identify the pattern that you're using.

[2017-09-07 16:34] samreid commented on #28
ModifiedNodalAnalysisCircuit.js
[code]

[2017-09-07 21:42] jbphet commented on #28
In expression exchange, I have the following in the `EEQueryParameters` file:

[code]

In `expression-exchange-main.js`, the logging function is added like this:

[code]

Finally, in various places within the sim code the logging is used like so:
[code]

[2017-09-12 19:40] pixelzoom commented on #28
Looks like @jbphet and I are using the same approach, with 2 differences:

(1) `log` vs `enableLogging` query parameter name.  I prefer the less verbose `log`.

(2) Adding to namespace in `*QueryParameter.js` vs in `*main.js`.   I prefer to keep this encapsulated in `*QueryParameter.js`, because `*main.js` typically has no need to know about query parameters (see for example  `expression-exchange-

[2017-09-12 19:53] pixelzoom commented on #28
@samreid's approach (see https://github.com/phetsims/query-string-machine/issues/28#issuecomment-327854364) is also similar to what @jbphet and I are doing.  It doesn't make a global `log` function available, and it provides no encapsulation of `console.log`. If we want to change how logging is done, we need to change every `DEBUG && console.log` line.

[2017-09-12 19:54] pixelzoom commented on #28
Proposal for changes to initialize-globals.js

(1) Add to `QUERY_PARAMETERS_SCHEMA`:

[code]

(2) After the call to `QueryStringMachine.getAll( QUERY_PARAMETERS_SCHEMA )` on line 338, add:

[code]

Usage by clients:

[code]

Or we continue to duplicate variations of this code.

[2017-09-12 20:02] samreid commented on #28
Is the color helpful?  What about people using dark dev tools?

Why not put `phet.log = function(){}` when the flag is off, then there will be no need to short circuit in the usage by clients?

[code]

Also, it seems suboptimal that console.log and phet.log have radically different behavior regarding multi-arguments and object formatting.  Why not use something like `console.log.call(null,argument

[2017-09-12 20:09] pixelzoom commented on #28
The color is helpful to me. It distinguished between log messages and plain old console.log calls.

`phet.log = function(){}` is not zero work, it's still a function call.  Not sure if that's significant or not.

This is (at least) the second time that we've discussed logging.  And I don't feel like we're making any progress.  So I'm going to unassign and bow out from this one, I don't have time f

[2017-09-12 20:14] samreid commented on #28
Right, for performance critical sims it would be nice to eliminate the overhead, even if called rarely.  We could even get these lines stripped out if we prefix it with `assert` or use the same strategy we use for stripping asserts.

When should a developer use console.log vs phet.log?  I'm trying to understand what would cause a mix of console.log statements and phet.log statements.

[2017-09-12 20:24] pixelzoom commented on #28
`phet.log` is for logging that remains in the code, and can be enabled via query parameter. `console.log` is for something that you intended to remove (assuming you actually follow through on that intention).  Published sims should generally not write to the console.

[2017-09-14 18:53] pixelzoom commented on #28
9/14/17 dev meeting:   Consensus was to add as proposed in https://github.com/phetsims/query-string-machine/issues/28#issuecomment-328966331.  I'm do so. Use it if you wish.

[2017-09-18 16:49] pixelzoom commented on #28
`phet.log` and `?log` have been added.   @pixelzoom and @jbphet sims have been updated to use `phet.log`.

Assigning to @jbphet to review the changes that I made to expression-exchange.

Assigning to @samreid to decide whether he wants to use this instead of his `DEBUG && console.log` approach.

[2017-09-18 16:50] pixelzoom commented on #28
Btw... If the color of the log message (currently green) is an issue for anyone, we can add a `logColor` query parameter.

[2017-09-18 16:52] pixelzoom commented on #28
In https://github.com/phetsims/query-string-machine/issues/28#issuecomment-328968367, @samreid said:

At 9/14/17 dev meeting, the consensus was that color is helpful.

If the current color of the log message (green) is an issue for anyone, we could add a `logColor` query parameter.   But green seems to work nicely on white and black backgrounds, so I'm hoping this is a non-issue.

[2017-09-19 13:36] samreid commented on #28
I converted CCKC to use the log query parameter in the preceding commit. The only other occurrences of `DEBUG && console.log` are in Molecule Polarity.  Reassigned to @pixelzoom to see if he wants to address those or not.

[2017-09-19 19:09] pixelzoom commented on #28
Thanks, molecule-polarity is now using `phet.log`.

[2017-09-29 18:49] jbphet commented on #28
Changes for expression-exchange and initialize-globals.js look good.  I tested the logging in expression-exchange, and it behaves as it did prior to these changes (which was the goal).  Back to @pixelzoom - it may be safe to close, but he'd be more aware of any loose ends than I.

[2017-09-29 20:07] pixelzoom commented on #28
No loose ends that I can recall. Closing.

[2017-09-29 20:07] #28 closed

[2017-10-27 20:16] samreid opened #29 "Convert boolean with default/false to flags."
@zepumph and I noticed 8 places that use `defaultValue: false` which could likely switch to `type:flag`.

[2017-10-31 03:57] samreid commented on #29
This change would make it so you could no longer do `?queryParemeter=false`, which in my opinion seems OK for the 8 candidates:

initialize-globals: playbackMode
curve-fitting: snapToGrid, animatedPoints, debugLine
phet-io: phetioEmitDeltas, phetioEmitEmptyDeltas, phetioEmitInputEvents, phetioEmitStates

@jonathanolson OK to convert the curve fitting ones to flags?
@pixelzoom OK to convert the chi

[2017-10-31 06:45] jonathanolson commented on #29
Converting is fine for me, but check first with @ariel-phet and maybe the sim designer. It doesn't seem like autocomplete is working to tag AM, seems designers don't have access to this repo or something?

[2017-10-31 15:57] amanda-phet commented on #29
Thanks for looping me in, but I am not sure I have ever used one of those query parameters for Curve Fitting. Maybe during testing, but it was so long ago I just don't remember. Whatever changes you are making seem fine to me.

[2017-10-31 16:36] pixelzoom commented on #29
Any query parameter whose default value is false is a candidate for type `flag`.  That said...

If you change the type from `boolean` to `flag`, anyone who is currently using one of these query parameters with a value (e.g. `playbackMode=true`) will experience a failure:

[2017-10-31 16:37] pixelzoom commented on #29
... and no, we should not change `flag` to silently ignore a value.

[2017-10-31 16:49] pixelzoom commented on #29
Even so, I recommend changing them, and alerting clients.  They should have been flags in the first place.  Another data point for https://github.com/phetsims/joist/issues/455.

[2017-10-31 16:50] pixelzoom opened #30 "identify query parameters that are for use outside the PhET team"
In  https://github.com/phetsims/joist/issues/451 we're considering deleting `showHomeScreen` and `screenIndex` query parameters, replacing them with a better interface. In https://github.com/phetsims/joist/issues/451#issuecomment-340593743 we were advised not to change the behavior of the `screens` query parameters, which we've already changed once in #399.

Going forward, we should be very carefu

[2017-10-31 16:52] pixelzoom commented on #30
Another data point: In #29, 8 query parameters were identified that should have been type flag, but are currently boolean.  Changing them to flag may break client code.

[2017-10-31 17:17] pixelzoom commented on #30
Identifying public query parameters is also important for QA.  In some cases (e.g. `showSoluteAmount` in BLL) sims features/functionality are not even visible unless a query parameter is present.

[2017-10-31 17:35] zepumph commented on #29
I spoke with @ariel-phet and he is fine with this change.

[2017-10-31 18:05] pixelzoom commented on #29
This seems to tie in with the discussion we had yesterday about 1 playback wrapper for all sims, vs 1 playback wrapper per sim.  The current approach is 1 playback wrapper for all sims. Presumably the playback wrapper uses the `playbackMode` query parameter.  When you change that query parameter from 'flag' to 'boolean', how will the playback wrapper know which sims expect a flag and which expect

[2017-10-31 20:37] zepumph commented on #29
The playback wrapper sets the playbackMode directly though the phet-io api.

[2017-11-01 19:51] pixelzoom commented on #30
Public query parameters in the sims that I'm responsible for:

beers-law-lab: showSoluteAmount, concentrationMeterUnits, beakerUnits, cuvetteSnapInterval
concentration: showSoluteAmount, concentrationMeterUnits, beakerUnits

In the above commit, I've documented that these query parameters are intended for public use.  All other query parameters in my sims are intended for internal use only.

[2017-11-02 17:59] pixelzoom commented on #30
11/2/17 dev meeting:

• "External" and "internal" are better adjectives than "public" and "private".
• Assume that all query parameters are for internal use only.
• Mark query parameters that are for external use with a comment in the QSM schema.
• Notify QA that external query parameters need to be tested.
• Educate the rest of the team about our decisions.

@ariel-phet requested to assign this t

[2017-11-30 18:40] ariel-phet commented on #30
Discussed with @kathy-phet at status 11/30/2017

[2017-11-30 18:40] #30 closed

[2018-01-22 16:28] samreid opened #31 "grunt generate-test-html fails"
Discovered in https://github.com/phetsims/chipper/issues/634

[2018-01-22 16:34] samreid commented on #31
Fixed, closing.

[2018-01-22 16:34] #31 closed

[2018-08-27 17:07] zepumph opened #32 "Update readme"
We are going to be exposing QueryStringMachine to PhET-iO clients to use if they see fit. In the phet-io documentation I think it would be best to just point them to the readme for QueryStringMachine on github, rather than to create another, parallel documentation strategy. Tagging @samreid for comment.

EDIT: missed word

[2018-08-27 17:08] zepumph commented on #32
From https://github.com/phetsims/phet-io-wrappers/issues/74

[2018-08-30 00:13] zepumph commented on #32
@chrisklus do you think this would be something that you would be interested in doing? Documentation is sometimes difficult while still getting your bearings, but it can also be a nice way to learn about this module of the codebase. @samreid please let me know if you think there could be a better way to do this.

[2018-08-30 04:05] samreid commented on #32
There is already some high-level documentation at https://github.com/phetsims/query-string-machine/

@zepumph were you picturing adding some smaller more isolated examples like the ones in our wrapper suite?

[2018-08-30 19:31] zepumph commented on #32
In general it just is out of date, and incomplete. This is the first sentence:

It does not depend on either of those.

I was picturing:

- [ ] Update the first sentence dependencies
- [ ] Include each public method, a description, and an example (likely much can be copied from the code).
- [ ] some explanation and documentation about (1) what keys are allowed each schema object, and (2) how that

[2018-08-31 01:09] zepumph commented on #32
Let me know if you have any more questions @chrisklus.

[2018-09-14 14:59] samreid commented on #32
I'm going to work on this for a bit, reassigning and notifying on slack just in case.

[2018-09-14 16:47] samreid commented on #32
@chrisklus and I worked on this today.  @zepumph can you please take a look?

[2018-09-21 00:22] zepumph commented on #32
This is awesome. Well done folks. Thank you.

[2018-09-21 00:22] #32 closed

[2018-10-15 19:47] zepumph opened #33 "Improve support for multiple question marks in query string"
In PhET-iO we have been using multiple question marks in our query strings. This seems to be legal, as the URI should only care about the first one (https://stackoverflow.com/questions/2924160/is-it-valid-to-have-more-than-one-question-mark-in-a-url).

QueryStringMachine doesn't handle it quite as well. See here from the console when parsing from string:

[code]

I would expect that getting `url`

[2018-10-15 20:02] zepumph commented on #33
I'm not sure who to assign this to or who knows the code best. @samreid what do you think.

[2018-11-21 05:49] samreid commented on #33
After the above commit, here are the new results for the above expressions:

[code]

Note that the first case is fixed but the latter cases are the same.  I'm not sure how to tackle those latter cases--it seems Query String Machine would have to know to treat the tail as a separate URL, right?  Not 100% sure what the desired behavior is here.  @zepumph can you please comment?

[2018-11-21 19:37] zepumph commented on #33
I would say that everything you posted looks correct to me. In the first query string, only the screens parameter belongs nested in the "url" query parameter. If later parameters are part of the nested parameter, then the ampersands need to be escaped.

I think that for quite some time our wrapper query parameter handling has been haphazard. It would be good to be consistently encoding URLs if we

[2019-07-17 03:04] samreid opened #34 "Maintenance release to fix the localStorage problem"
From https://github.com/phetsims/phet-android-app/issues/71, @ariel-phet requested that we publish maintenance releases for sims that use `localStorage` without try/catch.

Some notes from slack:

[code]

[2019-07-17 03:31] samreid commented on #34
In query-string-machine, we identified the buggy sha
570fe1febbd045d44b9d6d88433a7f8a9d84a1d6

and the fixed sha
1f64976a20ac1cf35c91c560f5e33df474eceec5

Therefore we used `grunt maintenance` to run the following:

[code]

The result is:
[code]

Summarizing, the published sims with this flaw (according to this process) are:

blackbody-spectrum 1.0 phet
isotopes-and-atomic-mass 1.1 phet
ohms-law 1

[2019-07-17 04:10] samreid commented on #34
From Slack:

[code]

[2019-07-17 04:16] samreid commented on #34
@chrisklus and I manually removed entries from .maintenance.json for:

* ph-scale
* ph-scale-basics
* phet-io-test-sim (we think this was a false positive, it should have the fix, and does not appear in the android app anyways)
* circuit-construction-kit-virtual-lab (this was a false positive, we confirmed it has the fix.  Not sure how Maintenance picked it up.)

[2019-07-17 05:02] samreid commented on #34
Here is the result of `Maintenance.listLinks()`

Release Candidate links

blackbody-spectrum 1.0 (https://github.com/phetsims/query-string-machine/issues/34)

- [ ] [blackbody-spectrum 1.0.1-rc.3](https://phet-dev.colorado.edu/html/blackbody-spectrum/1.0.1-rc.3/phet/blackbody-spectrum_en_phet.html)

isotopes-and-atomic-mass 1.1 (https://github.com/phetsims/query-string-machine/issues/34)

- [ ] [i

[2019-07-17 05:22] samreid commented on #34
Testing https://phet-dev.colorado.edu/html/blackbody-spectrum/1.0.1-rc.3/phet/blackbody-spectrum_en_phet.html, everything seems OK, but when we did a text diff between it and 1.0.0, there are numerous changes that we do not understand.

`~/Desktop$ diff blackbody-spectrum_all_debug_PUB.html blackbody-spectrum_all_phet_debug-RC3.html  `

<details>

[code]

</details>

We'll check the others to see

[2019-07-17 05:27] samreid commented on #34
We tested isotopes and atomic mass and it seemed good.  The diff indicated expected changes:

<details>

[code]

</details>

So we are confident about publishing that one.

[2019-07-17 05:48] samreid commented on #34
Since @chrisklus and I performed QA testing ourselves, and additional diff testing to make sure the changes were all intentional, we are ready to deploy the changes to production.

[2019-07-17 06:04] samreid commented on #34
We deployed the changes to production and double-checked that they seem reasonable by testing in the browser and running text diffs between the RCs and the published versions.  @ariel-phet can you please assign someone to verify that these 3 sims now work properly in the android app?

[2019-07-17 06:13] samreid commented on #34
For completeness, here are the maintenance steps we applied:

[code]

[2019-07-17 15:52] ariel-phet commented on #34
@samreid just check this morning, all opening fine now, and did some quick spot checking just to make sure all was functioning.

Thanks to you and @chrisklus for handling this on a short time scale.

[2019-07-18 03:45] #34 closed

[2019-09-26 22:26] zepumph commented on #33
@samreid I think that the way to fix this is to URL encode a URL is we want it to be in a URL. That is most idiomatic, flexible, and long term.

[2019-12-10 22:20] samreid opened #35 "Should custom values have a way to validate?"
From this TODO:

[code]

We support custom schema entries, and there is only one occurrence.  It's in CCK:

[code]

In this case, it says there is a downstream validation, so validation isn't necessary here.  However, if `type: 'custom'` becomes more widely used, we may want to add an `validate` entry to its options.

[2019-12-23 17:12] samreid opened #36 "Use URLSearchParams after we drop IE support"
https://developer.mozilla.org/en-US/docs/Web/API/URLSearchParams looks great but is not supported on IE.  Once we drop IE support, this could clean up our parsing logic.

[2019-12-23 21:17] chrisklus commented on #8
This issue is relevant again since we are adding public query parameters to sims in https://github.com/phetsims/joist/issues/593, and we'd like to provide warnings or errors to users if their query parameter are incorrect. We support this for incorrect values, but don't yet support bad keys.

For example, in Natural Selection, if the query parameter `allelesVisible` is misspelled like `&allelesVis

[2019-12-30 16:00] samreid commented on #33
I tested using URLSearchParams for this, see #36, and it did not solve the problem:

[code]

[code]

Encoding URLs sounds best. Does that mean nothing would be left to implement in Query String Machine and this issue can be closed?

[2020-01-03 03:37] zepumph commented on #33
Yes I think that is correct, though some wrapper code may need to be updated for this the next time we are doing record/playback studies.

[2020-01-03 03:37] #33 closed

[2020-02-14 22:03] zepumph opened #37 "appendQueryString should combine duplicates or error if different"
@samreid and I thought that this would be a nice improvement since QSM errors out if you supply a query parameter twice. We got a bit stuck though and have to give up right now. Here is a patch!

<details>

[code]
<details>

[2020-02-28 16:18] KatieWoe opened #38 "CT isn't starting tests"
CT tests for QSM have been blank from ~2/27/2020 1:42 pm.
From @samreid on slack:

[2020-03-05 04:05] samreid commented on #38
Fixed and working well on my side, closing.

[2020-03-05 04:05] #38 closed

[2020-03-20 18:15] zepumph opened #39 "deepEquals function broken on IE"
While investigating with @chrisklus https://github.com/phetsims/energy-forms-and-changes/issues/320, we discovered that there was a bug in QSM when running in IE. The deepEquals function broke on validValues line of this query param schema:

[code]

Looking further, it seems like deepEquals just wasn't written to fully account for types other than string,object,null, and undefined.

UPDATE: Sorry

[2020-03-20 18:21] zepumph commented on #39
I put in a stop gap, but I think I would rather see the function rewritten to be something more robust. @samreid what do you think about this rewrite?

[code]

My thoughts here are that anything that isn't an object should be triple equal checked. Even functions should be supported by deepEquals in my opinion. Next note that `undefined` is its own type, and doesn't need so much logic added.

I see

[2020-03-20 19:45] chrisklus commented on #39
What about using `_.isEqual` instead? I tried it out in the current `deepEquals` function and the QSM tests all passed.

[2020-03-20 20:41] zepumph commented on #39
QSM was developed to be a standalone, dependency-less library. PhET developed it for use in phet sims, but presumably it could be used anywhere else. With that in mind I think that there should be a very good reason to add lodash as a dependency for it.

Another side note about the original issue: QSM unit tests have always been passing on Chrome because this wasn't a bug there. Currently we don't

[2020-03-20 22:24] chrisklus opened #40 "Remove lodash usage"
From https://github.com/phetsims/query-string-machine/issues/39#issuecomment-601901542.

[code]

In https://github.com/phetsims/joist/issues/593, @pixelzoom and I used lodash for the `hasWarning` function, as @pixelzoom needed the function in NaturalSelectionQueryParameters.js. I'll implement a manual version instead.

[2020-03-20 22:25] chrisklus commented on #39
Oh right, I forgot, thanks. @pixelzoom and I did this once already so I opened an issue to remove it.

[2020-03-20 22:48] chrisklus commented on #40
Committed above, @pixelzoom please review.

[2020-03-22 22:34] pixelzoom commented on #40
Why do you iterate over all warnings?  This should return as soon as `key` is found.  I.e.:

[code]

[2020-03-22 22:42] chrisklus commented on #40
Thanks, fixed above.

[2020-03-23 17:02] pixelzoom commented on #40
👍 Testing in Natural Selection. Closing.

[2020-03-23 17:02] #40 closed

[2020-05-14 21:13] pixelzoom opened #41 "allow "public: true" for 'flag' query parameters"
Over in https://github.com/phetsims/aqua/issues/91, we said that we should indicate which query parameters are public by adding `public: true` to their schema.  This causes their value to be validated, and (if there's an error) shows a friendly error dialog.

`public: true` currently does not work for query parameters of `type 'flag'`, probably because they don't have a value to validate.  @chrisk

[2020-05-14 21:17] pixelzoom commented on #41
@chrisklus when you've completed this, please assign back to me.  I'd like to use this for:
- [ ] `BLLQueryParameters.showSoluteAmount`
- [ ] `PHScaleQueryParameters.showRatio`

[2020-05-14 22:02] chrisklus commented on #41
All set - please review while addressing your sims if you don't mind.

[2020-05-14 22:19] pixelzoom commented on #41
Looks great, thanks!  I added to my query parameters.  Closing.

[2020-05-14 22:19] #41 closed

[2020-06-11 21:51] samreid commented on #39
We will be dropping support for IE in https://github.com/phetsims/tasks/issues/1037, deprioritizing for now.

[2020-07-14 05:32] samreid commented on #39
Now that we have dropped support for IE, and are not planning on testing QSM in IE, how about documenting as "IE not supported" in the QSM README, and closing this issue?  @zepumph does that seem like a good plan?

[2020-07-16 04:27] zepumph commented on #39
I thought about writing that in the QSM lib, but isn't it more robust to just recognize that all phet repos have the same browser support as do phetsims in general? Does PhET advertise that in a general place? Perhaps that is a topic for https://github.com/phetsims/tasks/issues/1018?

[2020-07-16 15:29] samreid commented on #39
Even if we document that in a separate place, it is probably worth a separate mention in QSM which is designed to be used independently from the rest of the PhET ecosystem.

For end users, we should document this in https://phet.colorado.edu/en/help-center/running-sims and for developers, how about the phet-development-overview.md?

[2020-07-22 16:57] zepumph opened #42 "public "graceful" warnings for Array type don't work"
Over in https://github.com/phetsims/joist/issues/644 there were two suggestions for being more graceful about how we support invalid parameters as it pertains to the production dialog that shows query parameter errors to users:

@samreid and I are currently brainstorming a couple of ways to tackle this problem. The main issue is that currently, the warnings only apply to parameters that pass the "

[2020-07-22 18:58] zepumph commented on #42
We found that `public` is the schema field that should be used for this, and is supposed to already be handling this. The issue is that it isn't totally supported for arrays, because the elements aren't treated as public. A quick hack to demonstrate the problem is the following:

* run a sim with `?screens=43289`. Note the hard fail with a console error.
* add this patch to initialize globals:
[co

[2020-07-22 22:44] zepumph commented on #39
Can we handle this issue over in https://github.com/phetsims/tasks/issues/1042 and close this one?

[2020-07-23 01:07] samreid commented on #42
I ran http://localhost/main/ph-scale-basics/ph-scale-basics_en.html?brand=phet&screens=43289 (note there is no ?ea) and it correctly showed the warning dialog:

![image](https://user-images.githubusercontent.com/679486/88243689-78894980-cc4e-11ea-8405-0f8a7feaa14b.png)

However, `?screens=hello` is still a problem.

[2020-07-23 01:09] samreid commented on #42
@zepumph can you comment whether your proposal at the bottom of the issue description includes propagating `public` to the array element sub-schemas?

[2020-07-23 05:56] zepumph commented on #42
Sorry for the confusion, the "reproducing the bug" only applies if you don't have https://github.com/phetsims/query-string-machine/commit/fce9acaca3dea7caa639454b052843b691b14193 in your local copy.

No. That was done in https://github.com/phetsims/query-string-machine/commit/fce9acaca3dea7caa639454b052843b691b14193. The patch below is about supporting `?screens=1.1` and that fact that currently e

[2020-07-24 00:06] zepumph commented on #42
After the above commits, although wrongly named in their message, QSM now respects validValues and isValidValue for array elementSchema. I also added tests for isValidValue and validValues in an array mixed into tests that when `public`, defaultValues should be gracefully accepted and warnings populated.

The one last piece that still feels weird to me is that elements of the array are checked ind

[2020-07-25 22:11] samreid commented on #39
Yes, thanks!

[2020-07-25 22:11] #39 closed

[2020-07-27 16:15] pixelzoom commented on #42
There should most definitely not be 2 `screens` query parameters shown in the above dialog.  This dialog identifies that a query parameter is incorrect and shows the complete value.  It is (intentionally) not intended to identify what is wrong with the value.

[2020-07-27 17:47] zepumph commented on #42
Makes sense to me! That will involve a mediumish workaround or largeish overhaul of how the public parameter and QSM.warnings are populated because it was done without the "recursive" context that parsing a number could be part of a whole that is larger than just that value. I won't be able to work further on this until Wednesday. Anyone else is welcome to take a look.

[2020-07-28 18:30] chrisklus commented on #42
I investigated this a bit but am not sure of the best way to proceed. Self assigning to pair with @zepumph.

[2020-07-29 21:35] zepumph opened #43 "Why does type "string" allow `null` as a valid value?"
This is the `isValidValue` for the string type:

`        isValidValue: value => value === null || typeof value === 'string'`

To me it seems like if a value isn't provided for string, it should be an empty string, like `''`. This isn't blocking any work, but just seemed strange to me. It isn't clear if any code on our project is depending on this weirdness (I hope not).

[2020-07-29 22:10] chrisklus opened #44 "Support public flags"
From work supporting public arrays over in https://github.com/phetsims/query-string-machine/issues/42, @zepumph and I also decided to add support for public flags.

[2020-07-29 22:14] chrisklus commented on #44
In the above commit, we added support by removing a hard failure for cases where a value was provided for a flag, as well as added a default value of `true` to the flag type schema that can be used in place of a default value in schemas of type flag (since they are not allowed). We also added test for this in QueryStringMachineTests.js. Closing.

[2020-07-29 22:21] zepumph commented on #42
In the above commits, @chrisklus and I refactored QSM's `public` feature to only work during the "validation" phase of `getForString`. We boiled down that method's algorithm into 4 steps:
1. get values from the query string
2. validate schema
3. parse values
4. validation of the value

Before, there was logic in the parsing step which was validating that the values were as expected, this was using

[2020-07-29 22:55] arouinfar commented on #42
@zepumph the dialog with `screens=Hello1,1,Goose1` looks good to me.

[2020-07-29 23:34] zepumph commented on #42
@pixelzoom, while it is fresh in my mind, here is the list of commits to cherry-pick for this issue (in order):

https://github.com/phetsims/query-string-machine/commit/fce9acaca3dea7caa639454b052843b691b14193
https://github.com/phetsims/chipper/commit/8c544f807e913d2520af4d774647da08353205da
https://github.com/phetsims/query-string-machine/commit/af6f253315b0ead707f9d917aa905080e958794f
https://g

[2020-07-30 14:49] #44 closed

[2020-07-30 17:52] zepumph commented on #42
Likely applies https://github.com/phetsims/QA/issues/509

[2020-07-30 22:06] pixelzoom commented on #42
There's still a problem here.  With `?ea`, something like `screens=5` (in a 3-screen sim) will throw an assertion.  That's not the case with `screens=Hello1,1,Goose1`.    So behavior with `?ea` is inconsistent.

[2020-07-30 22:17] pixelzoom commented on #42
@zepumph and I discussed via Zoom.  Other than the assertions in selectScreens.js that are required for unit tests, public query parameters generally do not assert out.  And making them assert out would require a QSM dependency on assert.js.  So we're not going to worry about this, and live with the assertion inconsistency between public and non-public query parameters.  If anyone feels differentl

[2020-07-30 23:27] pixelzoom commented on #42
Cherry-pick of https://github.com/phetsims/query-string-machine/issues/42#issuecomment-665983384 completed.

Closing.

[2020-07-30 23:27] #42 closed

[2020-08-19 00:39] samreid opened #45 "Convert QueryStringMachine to typescript"
In https://github.com/phetsims/chipper/issues/912 we discussed converting QueryStringMachine to an ES6 module.  That seems like a good move, but there will be many HTML files that will need to be revised.  Self-assigning to at least see how much work this would be.

[2020-11-20 00:33] zepumph commented on #36
We have dropped support for IE. I'm going to assign myself and @samreid, feel free to unassign if you aren't interested at this time.

[2020-11-20 01:33] samreid commented on #36
I'm glad we can do this now, but it would not be a priority for me for several months.  I support you!

[2021-08-05 20:01] pixelzoom opened #46 "Replace query-parameter spreadsheet with "ask the sim"."
This came up at 8/5/21 dev meeting, and I volunteered to create this issue.

In Jauary 2021, @kathy-phet wanted a list of public query parameters supported by sims. So over in https://github.com/phetsims/tasks/issues/1076, we populated a spreadsheet that @kathy-phet created: https://docs.google.com/spreadsheets/d/1TddeTtD8zAayJzs02g0fL7dR1iWYczs1CMFdYd3SBNc/edit#gid=0.

Problems with this spreadsh

[2021-08-12 16:55] zepumph commented on #46
Today during status meeting @kathy-phet mentioned that she has noted this issue, and knows that it needs epic-level timing. @pixelzoom can you please note what (if anything) you would like to do in dev meeting before @kathy-phet has had a chance to take this on?

[2021-08-12 16:57] zepumph commented on #46
I also added a row for this issue in the overview spreadsheet, since it is an epic now.

[2021-08-12 17:08] pixelzoom commented on #46
There's no need for any development work until @kathy-phet responds to the above questions.

[2021-10-14 20:38] zepumph commented on #46
Today during quarterly planning, this was not marked as a quarterly goal for Q4 2021, so I'm going to move this to subgroups in dev meeting.

[2021-12-15 00:18] pixelzoom opened #47 "Provide a function to create the schema for `gameLevels` query parameter."
Designers (@arouinfar @amanda-phet @kathy-phet) requested a `gameLevels` query parameter. Unfortunately that query parameter can't be supported by the common-code schema in initialize-globals.js, because every sim has a different number of game levels.  The downside of this is that every sim is creating its own implementation of `gameLevels`, and the implementations are not the same.  For example

[2021-12-15 00:54] pixelzoom opened #48 "`getChallengeRange` can be a private function instead of a private static method."
For #84

In NumberPlayGameLevel.ts:

[code]

Since it's private, this does not need to be a static method.  Move it outside of the constructor to make it a private function.  In general, if you find yourself creating a `private static` method, it should probably be a private function.

[2021-12-15 00:56] pixelzoom commented on #48
Same for:
* CountingGameLevel.getRandomPlayObjectType
* NumberPlayGameModel.getLevelNumbers
* the 8 `private static` methods in Subitizer

[2021-12-15 03:05] pixelzoom commented on #47
I factored out `vegas.getGameLevelsSchema`, and it's now used in EqualityExplorerQueryParamaters.js and FourierMakingWaves.js.

@markgammon could you please assign someone to review?

[2022-07-15 17:37] samreid opened #49 "Convert to TypeScript"
One day, we may want this to be in TypeScript.  Relates to #45

[2022-07-19 14:59] jonathanolson commented on #43
This came up when I typed QueryStringMachine for https://github.com/phetsims/chipper/issues/1253. It is used as null in a number of locations, so I ended up typing it that way. Lots of reliance on null here.

[2022-07-19 16:09] samreid commented on #49
Please be aware @jonathanolson added types for Query String Machine in phet-types.d.ts as part of https://github.com/phetsims/chipper/issues/1253 and https://github.com/phetsims/chipper/commit/862597f13cc550aab0cbc00acedfd2b4b86d3bbb

[2022-07-21 19:56] pixelzoom commented on #43
It's not just the 'string' type that's odd in QueryStringMachine.  'array' has the same `null` quirk:

[code]

[2022-08-04 18:30] zepumph commented on #43
We discussed this at dev meeting today.

In GQ, we took a look at equationsBackgroundColor and saw that both `?equationsBackgroundColor` and `?equationsBackgroundColor=` returned `null`. Even though this is a `string` type parameter. @pixelzoom volunteered to take a look at this. We potentially decided it would be nice to have `?equationsBackgroundColor` throw an error, and `?equationsBackgroundCo

[2022-09-14 01:06] pixelzoom opened #50 "Move Warning to QueryStringMachine.ts?"
I see this TODO in phet-types.d.ts:

[code]

QueryStringMachine.ts now exists, so can this TODO be addressed?

[2022-09-14 01:07] pixelzoom commented on #50
Oh sorry, my bad. QueryStringMachine is still a .js file. I'll keep this issue open, and note it in the TODO in phet-types.d.ts.

[2022-09-14 01:08] pixelzoom commented on #50
Oh nevermind.  Looks like this is already covered by https://github.com/phetsims/query-string-machine/issues/49. Closing.

[2022-09-14 01:08] #50 closed

[2022-09-26 22:49] pixelzoom commented on #43
Note that `null` is also allow by the QueryStringMachineSchema ambient type in phet-types.d.ts:

[code]

[2022-09-27 16:14] pixelzoom commented on #43
Here's the code that's responsible for the problem that @zepumph described in https://github.com/phetsims/query-string-machine/issues/43#issuecomment-1205622086:

[code]

Line 494 takes something like `?equationsBackgroundColor` or ?equationsBackgroundColor=` and promotes its value to `null`.

[2022-09-27 17:14] pixelzoom commented on #43
A couple of test query parameters that I'll be using:

[code]

[2022-09-27 21:34] pixelzoom commented on #43
QueryStringMachine really needs a rewrite. What a mess.

[2022-09-27 22:08] pixelzoom commented on #43
Re the promotion of `undefined` to `null` noted in https://github.com/phetsims/query-string-machine/issues/43#issuecomment-1258736643 ...

I'm concerned that there's some code that is depending on this.  For example:

[code]

`parseFlag` makes no sense to me. A flag is not supposed to have a value.

[2022-09-27 22:09] pixelzoom commented on #43
I've spent 3 hours on it, and I'm not any closer to addressing any of the problems.  Imo, QueryStringMachine needs to be rewritten, it's a mess.  So I'm bailing on this,  unassigning, and will put it back on the Developer Meeting project board.

[2022-09-27 22:12] pixelzoom commented on #43
Some notes:

* I think it's fine that `null` is a valid value for 'string' and 'array', and I wouldn't change that.
* I would address the problem where `?equationsBackgroundColor` or `?equationsBackgroundColor=` is promoted to `null`, and then promoted to their default value. Those cases should fail.

[2022-09-29 18:10] samreid commented on #46
It's been over a year, and this issue is marked epic, so I don't think it also needs to be in the dev meeting subgroups.  It will be managed an an epic at some quarterly planning.

[2022-11-10 19:10] jbphet commented on #43
This issue was discussed in the 11/10/2022 developer meeting, and the group collectively feels like `QueryStringMachine` has served us well but is in need of some significant rework.

Some thoughts:
- We will need to decide how we want it to support things like creating the needed properties for us, instead of requiring a bunch of work to create and validate them manually now
- Perhaps we should c

[2022-11-10 19:11] kathy-phet opened #51 "Develop Next-Gen Query Machine"
Define needs for query machine

Related too...
https://github.com/phetsims/query-string-machine/issues/43

[2022-11-10 20:05] samreid commented on #51
Here are the main concerns to balance with query strings:

* PhET-iO
* TypeScript and type safety
* Coordinating with Axon Properties
* Some query strings are public and some report validation errors in a UI
* Being able to aggregate/report/list all query parameters, like https://github.com/phetsims/query-string-machine/issues/46

Our implementation should be based on URLSearchParams which did not

[2022-11-11 21:43] zepumph commented on #51
After some limited discussion with @samreid, it seems like giant part of his patch above hinges on thinking that PhET-iO standard wrapper customization is ideal the way it is (setting state after the sim starts up). If we are trying to overhaul our query parameter system, let's make sure we NEED to support that before we base the whole query parameter system on that.

What if instead we had a way